@import "/src//global-styles/Mixins/font.mixins.scss";

.strength-container {
  margin-top: 24px;
  background: var(--color-grey);
  padding: 18px 24px 16px 24px;
  border-radius: 12px;
  & &__label {
    display: flex;
    justify-content: space-between;
  }

  & &__title {
    @include secondary-title-font-mixin;
  }

  & &__message {
    @include checkboxes-fonts-mixin;
  }

  & &__power {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    gap: 7px;
  }
  & &__item {
    border-radius: 90px;
    width: 85.25px;
    height: 6px;
    background: var(--color-slider);
  }

  & &__item--danger {
    background-color: var(--color-red);
  }

  & &__item--warning {
    background: var(--color-yellow);
  }

  & &__item--success {
    background: var(--color-green);
  }

  @media screen and (max-width: 834px) {
    margin-top: 23px;
    padding: 12px 16px 16px 16px;
    & &__item {
      display: grid;
      max-width: 179px;
      width: 100%;
      gap: 7px;
    }
  }

  @media screen and (max-width: 320px) {
    & &__message {
      font-size: 10px;
    }

    & &__power {
      gap: 4px;
    }
  }
}
