@import "/src//global-styles/Mixins/font.mixins.scss";

.strength-container {
  margin-top: 1.5rem;
  background: var(--color-grey);
  padding: 18px 24px 16px 24px;
  border-radius: 12px;
  & &__label {
    display: flex;
    justify-content: space-between;
  }

  & &__title {
    @include secondary-title-font-mixin;
  }

  & &__message {
    @include checkboxes-fonts-mixin;
  }

  & &__power {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
  }
  & &__item {
    border-radius: 90px;
    width: 85.25px;
    height: 6px;
    background: var(--color-slider);
  }

  & &__item--danger {
    background-color: var(--color-red);
  }

  & &__item--warning {
    background: var(--color-yellow);
  }

  & &__item--success {
    background: var(--color-green);
  }
}
