/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 104px;
  font-family: "Manrope", sans-serif;
  color: var(--color-black);
  background: var(--color-background);

  @media screen and (max-width: 834px) {
    margin-top: 356px;
    margin-left: 16px;
    margin-right: 16px;
  }

  @media screen and (max-width: 478px) {
    margin-top: 132px;
  }
}

p {
  color: var(--color-on-surface);
}
