@import "/src//global-styles/Mixins/font.mixins.scss";

.show-password-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  border: 1px solid var(--color-stroke);
  border-radius: 12px;

  & &__password {
    @include secondary-title-font-mixin;
  }

  & &__icon {
    stroke-width: 0.75;
    font-size: 20.4px;
    color: var(--color-stroke);
    transition: all 0.3s ease-in-out;
  }

  & &__icon:hover {
    cursor: pointer;
    color: var(--color-black);
  }
}
