@import "/src/global-styles/Mixins/font.mixins.scss";
.checkboxes-container {
  padding-top: 34px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  & &__row {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }

  & &__checkbox:checked {
    /* #TODO Implement Custom checkboxes */
  }

  & &__checkbox:hover {
    cursor: pointer;
  }

  & &__label {
    @include checkboxes-fonts-mixin;
  }

  & &__label:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 832px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
