@import "/src/global-styles/Mixins/font.mixins.scss";
.checkboxes-container {
  padding-top: 34px;

  & &__row {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  & &__row:not(:first-child) {
    margin-top: 14px;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    display: block;
    border: 1px solid var(--color-stroke);
  }

  & &__checkbox:checked {
    /* #TODO Implement Custom checkboxes */
  }

  & &__checkbox:hover {
    cursor: pointer;
  }

  & &__label {
    @include checkboxes-fonts-mixin;
  }

  & &__label:hover {
    cursor: pointer;
  }
}
