@mixin title-font-mixins {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: var(--letter-spacing);
  color: var(--color-black);
}

@mixin secondary-title-font-mixin {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: var(--letter-spacing);
  color: var(--color-black);
}

@mixin checkboxes-fonts-mixin {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: var(--letter-spacing);
  color: var(--color-body);
}
